{:paths ["src"]
 
 :aliases
 {:test
  {:extra-paths ["test"]
   
   :extra-deps
   {io.github.cognitect-labs/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "8c3f22363d63715de4087b038d79ae0de36a3263"}}
   
   :exec-fn cognitect.test-runner.api/test}

  :build
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:jar "fkcss.jar"}}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args
   {:installer :remote
    :sign-releases? true
    :artifact "fkcss.jar"}}}}