{:paths ["src"]
 
 :aliases
 {:test
  {:extra-paths ["test"]
   :exec-fn fkcss.tests/run-all}

  :build
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :exec-fn      hf.depstar/jar
   :exec-args    {:jar "fkcss.jar"}}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args
   {:installer :remote
    :sign-releases? true
    :artifact "fkcss.jar"}}}}